section1{
float: left;
width:500px;
height:600px;
margin-left:30px;
border:1px solid black;
margin-right:600px;
}
section2{
float: left;
border:1px solid black;
width:500px;
height:100px;
margin-right:200px;

}

section3{
float: left;
border:1px solid black;
margin-top:100px;
margin-left:100px;
margin-right:300px;
width:300px;
height:100px;
}

soussection1{
float: left;
margin-left:80px;
margin-top:10px;
width:120px;
height:30px;
border:1px solid black;

}
soussection2{
float: left;
margin-right:80px;
margin-top:10px;
margin-left:80px;
width:120px;
height:30px;
border:1px solid black;

}
soussection3{
float: left;
margin-left:182px;
width:120px;
height:30px;
border:1px solid black;
margin-top:10px;
}
.bouton1{
display:inline-block;
margin-top:5px;
margin-left:5px;
}

.bouton2{
display:inline-block;
margin-top:5px;
margin-left:5px;
}
.nombre{
display:inline-block;
margin-top:5px;
margin-left:1px;
}
.oui{
display:inline-block;
margin-top:5px;
margin-left:70px;
}
.cancel{
display:inline-block;
margin-top:5px;
margin-left:70px;
}
.menu{
display:inline-block;
margin-top:15px;
margin-left:70px;
}
.titre1{
margin-left:130px;
}
.nom'{
margin-left:50px;
}
.prenom'{
}